@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="file"] {
  color: transparent;
}

.text-gradient {
  background: #f57261;
  background: linear-gradient(to right, #f57261 0%, #c6c6c6 71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
